<ul>
  <div style="float: left">
    <li>
      <a>
        <mat-card-title>
          <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >home</mat-icon
            >
            <span> EHC </span>
          </div>
        </mat-card-title>
      </a>
    </li>
    <li>
      <a
        (click)="isLogedIn()"
        style="font-size: 16px; margin-top: 7px"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        routerLinkActive="active"
        >home</a
      >
    </li>
  </div>
  <div appHeaderStyle style="float: right">
    <li *ngIf="formDetails?.role === 'admin'">
      <a
        style="font-size: 16px; margin-top: 6px"
        routerLink="/drinks"
        routerLinkActive="active"
        >Add Drinks</a
      >
    </li>
    <li>
      <a
        style="font-size: 16px; margin-top: 6px"
        routerLink="/dataList"
        routerLinkActive="active"
        >myDataList</a
      >
    </li>
    <li>
      <a
        style="font-size: 16px; margin-top: 6px"
        routerLink="/profile"
        routerLinkActive="active"
        >profile
        <img class="profile-img" src="{{ userDetails?.photoUrl }}" alt=""
      /></a>
    </li>
    <li>
      <a
        style="font-size: 16px; margin-top: 6px"
        routerLink="/formdetail"
        routerLinkActive="active"
        >form</a
      >
    </li>
    <li>
      <a
        class="btn btn-primary"
        style="font-size: 12px; margin-top: 6px; margin-right: 17px"
        (click)="signOut()"
        >signOut</a
      >
    </li>
  </div>
</ul>
