<div class="container-fluid div-top">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Drinks List</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foodlist; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ food.drink }}</td>
        <td>
          <button (click)="editDetails(i)"><mat-icon>edit</mat-icon></button>
        </td>
        <td>
          <button (click)="Delete(i)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="spinnerRun" class="d-flex justify-content-center mt">
    <mat-spinner></mat-spinner>
  </div>
</div>
