.emp-detail {
  margin-top: 50px !important;
  width: 500px;
  margin: 0 auto;
}
.radio-btn {
  margin-right: 15px;
}
.username {
  background-color: aliceblue;
  border-radius: 4px;
}
.error-msg {
  color: red;
}
.btn-hide{
  display: none;
}
.btn-show{
  display: block;
}
